[2020-03-11 19:21] TheRealNate opened #3 "Remove reference to UNSAFE_componentWillUpdate"
`UNSAFE_componentWillUpdate` is a legacy method

/src/components/ReactMeteorData.js#L19

[2020-03-11 19:22] TheRealNate opened #4 "Remove reference to UNSAFE_componentWillMount"
`componentWillMount` has been deprecated and will be removed in React 17.

/src/components/ReactMeteorData.js#L8

[2020-05-11 17:25] PolarisWT opened #6 "Cannot use RN community AsyncStorage, allow for other solutions"
Glad to see this package resurrected!  Thank you!

React Native developers using Expo (as of v37 - most current as of this issue creation) are stuck using the _depreciated_ React Native implementation of [AsyncStorage](https://docs.expo.io/versions/latest/react-native/asyncstorage).  There is no way (without ejecting) to use the [community](https://github.com/react-native-community/async-storage)

[2020-05-11 20:55] #6 closed

[2020-05-11 21:36] PolarisWT commented on #4
I would think that changing this to a `componentDidMount()` would work.  I have not noticed any side-effects locally with this updated.

[2020-05-11 22:05] PolarisWT commented on #3
This update is a bit more complex than #4.  Have you thought about how to best handle this already?

For the short-term, could we just use the `UNSAFE_componentWillUpdate()` which is [scheduled](https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html#gradual-migration-path) to last through 17.0+?  This should suppress the warning.

Longer term, looking at `componentDidUpdate()` may work

[2020-05-11 22:10] TheRealNate commented on #4
After doing some more reading on docs, its possible that moving the code into the constructor method may mimic the behavior of `componentWillMount` better.

[2020-05-11 22:19] TheRealNate commented on #3
@PolarisWT I have merged your PR for renaming to UNSAFE_.

Definitely a tricky update. The author states:
[code]

So it seems that `this._meteorDataManager.calculateData` needs to be run with new props and state but before render. `componentDidUpdate` is run *after* render.

The [suspense](https://reactjs.org/docs/concurrent-mode-suspense.html) API may be a solution (it's mentioned in the "Observe

[2020-05-11 22:26] PolarisWT commented on #4
I thought about that too, but found no loss of performance or issues yet - although my case is very limited in use so far 🤞 .  I am all for better solutions, but struggling to find good ways to test these in a meaningful way.

How are you going about testing?   I spent a little time spooling up mocha that was from the `react-native-meteor` repo, but decided that was a bigger project...

[2020-05-19 17:49] Rechdan opened #12 "Disconnected from DDP server."
[code]

I have this code and I'm getting the message `Disconnected from DDP server.`, what could be wrong?

Thanks!

[2020-05-19 18:16] TheRealNate commented on #12
Hi @Rechdan.

I'm not sure if `process.env.NODE_ENV` works in React Native.

You can use the global constant `__DEV__`:
[code]

[2020-05-19 18:20] Rechdan commented on #12
I think it does work, because i did a `console.log` and it printed `development` and with this short if I got the websocket url, but still no connections to the Meteor server.

[2020-05-19 18:25] TheRealNate commented on #12
Hi @Rechdan, could you try using this url: `ws://192.168.0.100:3000/websocket`? I think depending on how your app is hosted you may need to use the `/websocket` path to get the direct connection to the socket.

[2020-05-19 18:41] Rechdan commented on #12
It seems to solve the problem, and actually that's weird because I did tried this before but with no success, now I got the `Connected to DDP server.`, finally! Hahaha

The code now:
[code]

Thanks for the help!

[2020-05-19 19:58] Rechdan opened #13 "Help Wanted: TypeScript Declaration File"
For a near future release, would be possible to have a declaration file or the entire source of this project be converted to TypeScript?

[2020-05-19 20:25] TheRealNate commented on #12
Hi @Rechdan, glad to hear its working!

[2020-05-19 20:25] #12 closed

[2020-05-25 07:36] vforvasile commented on #13
Sorry about not opening a separate issue but I wanted to ask: Is this **Production** ready? Did anyone find issues in production? @TheRealNate

[2020-05-27 11:14] Navyroot opened #14 "use withTracker with reack hooks"
could you explain me how to use `withTracker` with reack hooks ?

[2020-05-27 17:58] TheRealNate commented on #14
Hi @Navyroot. withTracker passes your reactive data as properties to your components. Meteor recently added a hook called `useTracker`, but we haven't finished adding this to meteor-react-native yet. However, you can still use withTracker even with function components:

[code]

[2020-05-27 17:59] TheRealNate commented on #13
Hey @Rechdan. We don't have any plans to convert the source to TypeScript, but I think a declaration file is a good idea. If anyone wants to open a PR that would be great!

[2020-05-27 18:01] TheRealNate commented on #13
@vforvasile In the future, please open a separate issue in the future so as not to disrupt a conversation. This package is production ready. I myself am using this in one production app on both Android and iOS, and multiple development apps.

[2020-05-28 06:46] Navyroot commented on #14
@TheRealNate thank you

[2020-05-28 15:01] Navyroot opened #15 "componentWillMount has been renamed"
My components:
[code]
But It's show warning :
[code]

Please help me , how to fix it ?

[2020-05-28 21:00] TheRealNate commented on #15
Hi @Navyroot. Thanks for pointing this out. This issue is now fixed in version 2.0.6.

[2020-05-28 21:00] #15 closed

[2020-05-28 23:26] Navyroot commented on #15
Yes ,thank you . It's done after updated it.

[2020-06-21 20:02] #14 closed

[2020-06-29 07:47] thearabbit commented on #14
+1

[2020-06-29 19:50] TheRealNate commented on #14
Hi @thearabbit, this question has been resolved since `withTracker` resolved the author's issue. Are you interested in `useTracker`? In that case, you can check out PR #17.

[2020-06-30 01:37] thearabbit commented on #14
Sorry, thanks for your reply.
I would like to use `useTracker`, because want to use dynamic subscript with dynamic params?

[2020-06-30 22:40] TheRealNate commented on #14
@thearabbit, have a look at PR #17 and let me know if it suits your needs. If there is something missing feel free to open a new issue. If you use PR #17 and it works well, please add a comment there letting us know so we can move closer to merging it.

[2020-07-01 00:10] thearabbit commented on #14
Have any example to use? I will try to test

[2020-07-03 02:48] TheRealNate commented on #14
@thearabbit I believe based on the PR you can use it like this:

[code]

Note that to install the repository from the PR, you should be able to use this command:
[code]

I would not recommend using the PR for production, as it won't receive updates, but if you could test it out per your use-case and let me know if it works well I can finish the review and merge the PR.

[2020-07-03 02:57] thearabbit commented on #14
Thanks I will try soon.

[2020-07-06 21:57] allenfuller opened #19 "Stomp protocol fallback?"
I am working on a React Native app for an existing Meteor app and am finding it a challenge to authenticate. The Meteor site itself has an issue with websockets and falls back to XHR / stomp protocol for the default connection. Generally, could that be the reason I keep getting the `Disconnected from DDP server.` message? If not I'll continue researching. Thanks!

[2020-07-08 19:40] TheRealNate commented on #14
Hi @thearabbit, any updates?

[2020-07-08 19:46] TheRealNate commented on #19
Hi @allenfuller, typically, you'll see the repeating Disconnected message due to issues establishing the websocket connection. Usually it's because of one of two issues:

1. The url is in the wrong format. Make sure your url follows the format `ws://` or `wss://` + your app's domain + `/websocket`, for example: `wss://yourapp.meteor.com/websocket`
2. The device isn't connected to the internet. You

[2020-07-10 18:10] allenfuller commented on #19
Thanks for the feedback @TheRealNate! I was able to get the websocket issue resolved on the server (running Meteor & GraphQL subscriptions to the same server). So now React Native is working like a charm! Thanks!

[2020-07-10 18:10] #19 closed

[2020-07-22 23:46] nastaransamui opened #20 "Accounts.resetPassword not return userId reactively"
**Describe the bug**
Try to reset password with Token from reset password email it's return true but Meteor.userId() still be null when close and open application it will update and login user.

**To Reproduce**
Steps to reproduce the behavior:
1. Create User and verify
2. try for reset password email sent successfully.
3. click on link open application add new password send new password with Toke

[2020-07-23 02:53] NickTheTurtle opened #21 "Calling Meteor.logout() results an error"
**Describe the bug**
Calling Meteor.logout results an error.

**To Reproduce**
Call Meteor.logout() in project. User is logged out though. See screenshot below.

**Expected behavior**
User is logged out. No error.

**Screenshots**
The error below shows that this.handleLogout is not defined.
<img width="319" alt="image" src="https://user-images.githubusercontent.com/12247846/88248064-7e3e5980-cc65-

[2020-07-23 02:57] NickTheTurtle opened #22 "Accounts.createUser does not immediately log user in"
**Describe the bug**
Either Accounts.createUser does not immediately log user in, or Meteor.user() and Meteor.userId() does not get updated automatically when Accounts.createUser is successful

**To Reproduce**
Steps to reproduce the behavior:

App.js code:
[code]

Accounts.createUser code:
[code]

I can verify that a new user is indeed created in the database. However, upon successful creation of

[2020-07-24 00:30] TheRealNate commented on #21
Hi @NickTheTurtle. Thanks for posting! I can't seem to reproduce the issue. I am testing on the same React Native and MeteorRN versions as you.

Any chance you could share the full error message and stacktrace?

If you have a chance, these further measures may help diagnose the issue:
- Try clearing your build folder in XCode then rebuilding
- Try uninstalling MeteorRN and reinstalling
- Try using

[2020-07-24 00:35] TheRealNate commented on #20
Hi @nastaransamui. Thanks for submitting the issue.

When the `Accounts.resetPassword` callback is called, that means the password has been changed, but not necessarily that the user has been logged in yet. I see that you're using a 3 second timeout before checking, but just to be safe, could you try waiting for a longer time period (5-10 seconds) and checking? Sometimes it can take Meteor a while

[2020-07-24 00:36] NickTheTurtle commented on #21
Thanks for the quick reply! Here's the more detailed error message. I'll try reinstalling MeteorRN and clearing the build folder.

<img width="342" alt="image" src="https://user-images.githubusercontent.com/12247846/88351375-b011f780-cd1b-11ea-9339-c1c122eca251.png">

[2020-07-24 00:36] TheRealNate commented on #22
Hi @NickTheTurtle

Do you encounter any similar issues when logging in regularly? I'm still trying to reproduce the issue on my end.

Thanks!

[2020-07-24 00:38] NickTheTurtle commented on #22
Hi, thanks for the quick reply. Logging in normally does not give any weird behaviors. I found this blog online that documented the same error: https://medium.com/differential/react-native-meteor-auth-with-email-username-and-password-d2085c732276. Seems like the bug existed for quite some time.

[2020-07-24 00:38] TheRealNate commented on #22
One more thing to try, can you add a handler for the `Accounts.onLoginFailure` event:
[code]

[2020-07-24 00:38] TheRealNate commented on #20
One more thing to try, can you add a handler for the `Accounts.onLoginFailure` event:
[code]

[2020-07-24 00:43] NickTheTurtle commented on #22
I tried Accounts.onLoginFailure, and the error it logged was… "undefined", curiously. I attached the image below:

<img width="318" alt="image" src="https://user-images.githubusercontent.com/12247846/88351680-c7051980-cd1c-11ea-8550-693f74f902b3.png">

[2020-07-24 00:47] TheRealNate commented on #22
Currently, `onLoginFailure` doesn't actually tell you the error, just calls the callback when there is one. However, this points to an error in the createUser call. Are you calling createUser with a callback?
[code]

The callback should have an error since onLoginFailure is being called. That should give you some more info.

[2020-07-24 00:51] NickTheTurtle commented on #22
I can verify that a user is indeed created by checking with "meteor mongo". Also, the error callback in createUser is not called as I set it to display pop up boxes if errors occurred (and the pop up boxes do appear when, say there is already an account in the system).

[2020-07-24 01:00] TheRealNate commented on #22
Thats really strange. When createUser is called, whatever error/result it receives is passed directly to `_handleLoginCallback` which in turn triggers `onLoginFailure` if there was an error, but the same error should have been passed to your callback.

If you would be willing to make some changes to your local version of the package, you can make a change to:
[code]

Inside the `createUser` method

[2020-07-24 01:35] NickTheTurtle commented on #22
Ok, so after putting some console messages in Accounts.js, I found out that every function that's supposed to be called is called, and no err was always undefined. However, after making the changes to Accounts.js, the app reloaded on the second time and the user got logged in. This did not happen when changing my ReactNative files, curiously. This makes me think that the app did successfully log t

[2020-07-24 01:58] nastaransamui commented on #20
Thank you @TheRealNate for reply
After I checked even in 10-second userId() still null, then I dig inside Accounts.js and User.js I figure out the token is return successfully and  _handleLoginCallback is called but
[code]
I doubt Data.notify with value 'onLogin' there is not any eventName with "onLogin".
Thanks for your help

[2020-07-25 18:15] TheRealNate commented on #20
Hi @nastaransamui, in _handleLoginCallback after the if statement `Data.notify('change')` is called, which triggers the reactive update of Meteor.user if the user is logged in.

Are you experiencing the same issue when you use `Meteor.loginWithPassword`?

[2020-07-25 18:21] TheRealNate commented on #22
Could you try adding a timeout and logging `Meteor.user()` and `Meteor._userIdSaved` (note that _userIdSaved is a string value not a function)? Once the login callback is handled, `_userIdSaved` is immediately set, but its possible that for some reason the user object isn't being received from the server.

[2020-07-25 18:22] TheRealNate commented on #21
Hi @NickTheTurtle, any updates on this?

[2020-07-25 18:31] NickTheTurtle commented on #21
It still doesn't work.

[2020-07-25 18:33] NickTheTurtle commented on #22
I'm not sure what changed, but now creating an account logs the user in.

[2020-07-25 19:03] NickTheTurtle commented on #22
It logs `null` and `undefined`, respectively.

[2020-07-25 19:44] TheRealNate commented on #21
Hmm, it seems like `this` is evaluating to the `global` object. This is really strange behavior (could also be related to your other issue #22).

Do you have anything that could be changing how `this` is being bound?

[2020-07-25 19:47] TheRealNate commented on #21
I just did some testing in the console. If you'd like, you can try changing the syntax:

From:
[code]

To:
[code]

[2020-07-25 19:50] TheRealNate commented on #22
So, when `_handleLoginCallback` is called _userIdSaved should be immediately set (unless there is an err). When you put your console messages, did you confirm that _handleLoginCallback was not receiving an err object? If so, something else is happening, possibly related to your other issue (how the functions are being bound to `this`).

[2020-07-25 20:43] NickTheTurtle commented on #21
You're right. I had `<Button onPress={Meteor.logout}>Logout</Button>`, but React bound `this` to the global object instead of Meteor. I changed it to `<Button onPress={Meteor.logout.bind(Meteor)}>Logout</Button>` and now everything works perfectly.

[2020-07-25 20:44] #21 closed

[2020-07-25 22:29] NickTheTurtle commented on #22
Yeah, no error occurred. Also, I have a logging in indicator that fires when the user is logging in but doesn't upon account creation. I was able to verify that Users._startLoggingIn was called though. If I manually call Meteor._startLoggingIn, everything works.

[2020-07-26 02:50] copleykj commented on #22
A reproduction of this and #20 might be helpful if possible.

[2020-07-26 02:51] nastaransamui commented on #20
@TheRealNate `Meteor.loginWithPassword` is work as expected but still `resetPassword` not update Meteor.user reactively.
It's still an issue.

[2020-07-26 18:58] TheRealNate commented on #21
Hi @NickTheTurtle, thanks for providing your solution! I'm going to see if there is a way to fix this. If its not too much of an inconvenience, could you try something like this (which is how I have it in my apps), where Meteor logout is called from inside a function?:
[code]

[2020-07-26 18:58] TheRealNate commented on #22
Hey @NickTheTurtle, any chance this issue could be related to #21, where this wasn't being bound correctly?

[2020-07-26 19:02] TheRealNate commented on #20
Hi @nastaransamui, two things:

1. Could you also console log `Meteor._userIdSaved`, as this should be set immediately
2. Could you provide the way you are calling resetPassword with more context

Thanks!

[2020-07-26 19:10] TheRealNate commented on #21
Hey @NickTheTurtle, one last thing. I've just published `2.0.10-beta1` which converts it from an object to a class. If its not too much of an inconvenience, could you try installing that version then using it the original way you were (`<Button onPress={Meteor.logout}>`)

[2020-07-27 02:07] nastaransamui commented on #20
Hi, @TheRealNate  I checked `Meteor._userIdSaved` it's still null.
I don't think so my calling has any problem as when I restart the app it's automatic login.
But I got Token from URL and plus to new password send request below is my whole submit function:
[code]
and I checked _handleLoginCallback in User.js and `Data.notify('change')` is called.
[code]
I'm really stacking on this and tried all I

[2020-07-27 18:26] TheRealNate commented on #20
One more thing I'd like to try, its possible this is related to an issue another person was having. Could you try installing beta version `2.0.10-beta1` of this package?

[2020-07-28 02:13] nastaransamui commented on #20
@TheRealNate I updated to `2.0.10-beta1` but still both `Meteor._userIdSaved` and `Meteor.userId() ` is null till reload whole app.

[2020-07-29 02:52] TheRealNate commented on #20
Hey @nastaransamui, one more thing to try. Could you update to `2.0.10-beta2`?

[2020-07-29 09:57] nastaransamui commented on #20
Hi, @TheRealNate I updated to the new version and logged in successfully.
Thanks for all effort. but look like this new version `2.0.10-beta2` has effect on `User.connect();` on User.js line 30. I didn't have time to dig more but throw an exception on logout (even log in from `Meteor.loginWithPassword` or from `Accounts.resetPassword`.
`TypeError: User.connect is not a function. (In 'User.connect(

[2020-08-02 00:12] TheRealNate commented on #20
HI @nastaransamui, sorry about that. Could you try `2.0.10-beta31?

[2020-08-02 00:13] TheRealNate commented on #22
Hi @NickTheTurtle, just following up to see if this issue is resolved?

[2020-08-02 00:14] NickTheTurtle commented on #22
I don't think it's a "this" issue since I'm calling Accounts.createUser in a class method.

[2020-08-02 02:52] nastaransamui commented on #20
Hi @TheRealNate
in User.Js `call` import duplicate and prevent to build
[code]
when import call from `import call from '../Call';` only build is successful and log in and resetPassword work as expected  but on Logout still exception for `connect()` in line 30 of User.js
[code]
[code]

[2020-08-02 03:07] NickTheTurtle opened #23 "Collections.observe problems"
**Describe the bug**
I'm calling Collections.observe to track added documents to a collection in withTracker. In the same withTracker component, I call subscribe to the same collection and do some other querying. For each document I added, the function I set in Collections.observe is called up to ~20 times on the same added document. In addition, when I navigate away from the page (so withTracker

[2020-08-06 19:22] zsliu opened #24 "node_modules/@meteorrn/core/src/user/User.js: Identifier 'call' has already been declared (5:8)"
Following the readme to run a simple react native app on android simulator, the following errors shown

meteorclient/node_modules/@meteorrn/core/src/user/User.js: Identifier 'call' has already been declared (5:8)

  3 | import call from '../Call';
  4 | import Mongo from '../Mongo';

    |         ^
  6 |
  7 | const TOKEN_KEY = 'reactnativemeteor_usertoken';
  8 | const Users = new Mongo.Collecti

[2020-08-07 02:56] xwz commented on #24
This is a basic syntax error. There are currently no tests at all for this package :(

[2020-08-07 21:34] TheRealNate commented on #24
This issue should be fixed in release `2.0.13`

[2020-08-07 21:34] #24 closed

[2020-08-07 21:37] TheRealNate commented on #23
Hi @NickTheTurtle. I think the observer being deleted when withTracker is destroyed may be a feature request, could you create a separate issue?

Regarding the callback being called multiple times, is it possible that the subscription is being destroyed and recreated? The current observer implementation will run the callback anytime it receives the added message from the server through the websock

[2020-08-07 21:38] TheRealNate commented on #22
Hi @NickTheTurtle, could you see if the issue is still happenning with release `2.0.13`?

[2020-08-07 21:38] TheRealNate commented on #20
Hey @nastaransamui, sorry about that. Could you try `2.0.13`. I've done some extended validation on this release with a production app to ensure there are no issues.

[2020-08-07 21:42] TheRealNate opened #26 "Help Wanted: Module Testing"
We're looking for help adding testing to this module. If you are interested, open a PR.

[2020-08-08 04:22] nastaransamui commented on #20
Hey @TheRealNate is it any changed happen to connection, I can't connect to web socket in new version `2.0.13` and  `Meteor.connect(WEB_SOCKET)` return `undefined`, I didn't change anything from my end but with the last version, I can't connect to WebSocket.

[2020-08-08 17:55] copleykj opened #28 "Moving Things Forward"
Hello Nathaniel,

First off I'd like to introduce myself. My name is Kelly Copley. I'm one of the founders of Meteor Community Packages and the author of the packages published under the Socialize namespace both on Atmosphere and NPM. I've been working with Meteor since it's 0.5 release, and I've been a die hard fan ever since.

A couple years ago, as part of my efforts to port [Socialize](https:/

[2020-08-09 01:11] TheRealNate commented on #28
Hi Kelly,

Thanks for reaching out! This undertaking sounds really exciting. I'd love to help if I can.

Do you have a channel setup for this project on the Meteor slack where we (and anybody else interested) can discuss next steps?

[2020-08-09 01:16] TheRealNate commented on #20
Hi @nastaransamui, there haven't been any changes related to connecting in `2.0.13`. Keep in mind that `Meteor.connect` doesn't return anything.

Because of the fact that some previous beta releases had some bugs, I have done some extensive testing on this release to ensure there are no other bugs.

Is your URL in the format `wss://yourapp.domain.com/websocket` or `ws://yourapp.domain.com/websocke

[2020-08-09 01:27] TheRealNate opened #29 "Add useTracker"

[2020-08-09 01:28] copleykj commented on #28
I currently do not, but that sounds like a good idea and I'm happy to create one.

[2020-08-09 01:29] #28 closed

[2020-08-09 01:31] TheRealNate commented on #4
PR #10 has been merged in beta release `2.1.0-beta1`

[2020-08-10 02:28] nastaransamui commented on #20
@TheRealNate Thank you for your effort version `2.0.13` is work as expected and I will close this.

[2020-08-10 02:28] #20 closed

[2020-08-11 07:15] imhazige opened #33 "Require cycles are allowed, but can result in uninitialized values. Consider refactoring to remove the need for a cycle."
**Describe the bug**
After create a React native app with npx react-native init, then in the App.js import Meteor from '@meteorrn/core';
then the simulator show blank screen. and show the error.

**To Reproduce**
Steps to reproduce the behavior:
1. Just import Meteor
2. See error

**Expected behavior**
App able to start

**Screenshots**
Debugger worker loaded runtime on port 12686
Require cycle: n

[2020-08-11 22:02] TheRealNate commented on #20
Hi @nastaransamui just to confirm, the issue with reset password is fixed?

[2020-08-11 22:04] TheRealNate commented on #33
Hi @imhazige, the message you are seeing is a low-severity warning. It will only appear in the bundler, and does not prevent the app from loading. Is it possible there is another issue preventing your app from loading?

[2020-08-12 01:52] imhazige commented on #33
ok, I will create a more pure view.

now when I uncomment the import Meteor ....,(no other meteor code) the problem happen, UI not shown. when comment it, the problem disappears and UI shown.

[2020-08-12 02:19] imhazige commented on #33
I have reproduce the problem with a plain project and only have meteor dependencies https://github.com/imhazige/react-native-meteor-blank-screen-problem

[2020-08-12 02:20] imhazige commented on #33
https://github.com/imhazige/react-native-meteor-blank-screen-problem/blob/master/App.js#L27 uncomment this line will make a blank screen

[2020-08-12 03:26] nastaransamui commented on #20
Hi @TheRealNate yes reset password is fixed

[2020-08-13 00:01] imhazige commented on #33
after install @react-native-community/async-storage which is missing and run npx pod-install ios, still blank.

[2020-08-13 20:58] TheRealNate commented on #33
Are you seeing any other errors in the console? The "require cycle" error is likely not the cause of your issue.

[2020-08-13 21:02] TheRealNate commented on #22
Hi @NickTheTurtle, any updates on this?

[2020-08-13 21:03] TheRealNate commented on #23
Hi @NickTheTurtle, any updates on this?

[2020-08-13 23:21] imhazige commented on #33
could you try https://github.com/imhazige/react-native-meteor-blank-screen-problem/blob/master/App.js.

no other error.

[2020-08-14 08:38] davitgab opened #35 "Uable to resolve module @meteorrn/core"
I'm using react-native without Expo and when I build my application it throws an error like this:
"Unable to resolve module @meteorrm/core in '../[path]. Make sure you installed this module'".

[2020-08-14 08:44] #35 closed

[2020-08-17 04:50] TheRealNate commented on #23
Closing this issue as it is stale. Feel free to reopen this if the issue is still persisting

[2020-08-17 04:50] #23 closed

[2020-08-17 04:51] TheRealNate commented on #22
Closing this as it is stale. Feel free to re open if the issue persists.

[2020-08-17 04:51] #22 closed

[2020-08-17 04:53] TheRealNate commented on #33
Hi @imhazige, a few questions to diagnose this further:

- What kind of device are you using (iOS/Android and Simulator/Real (if real, what model))?
- Are you building for debug or release?

From what you have told me it sounds like something is causing the whole React tree to crash, but that would usually produce some sort of error message. If you are bundling for production however, it may not a

[2020-08-17 04:58] lemonbusadmin commented on #33
I am using simulator.

https://github.com/imhazige/react-native-meteor-blank-screen-problem

are you able to run?

[2020-08-17 16:46] TheRealNate commented on #33
@lemonbusadmin are you having this issue as well?

[2020-08-17 21:29] imhazige commented on #33
I am using simulator.

https://github.com/imhazige/react-native-meteor-blank-screen-problem

are you able to run?

[2020-08-27 21:48] diavrank opened #36 "[Feature Request] Add OAuth functions for Facebook and Google"
**Is your feature request related to a problem? Please describe.**
In meteor exists some packages to do **Meteor.loginWithFacebook()** or **Meteor.loginWithGoogle()** and the OAuth configuration is saved in _meteor_accounts_loginServiceConfiguration_ collection of MongoDB. Currently, I use it with Vue JS (through akryum package) and it works perfectly.

**Describe the solution you'd like**
It woul

[2020-08-28 00:28] TheRealNate commented on #36
Hi @diavrank, this looks like a really good feature to add. I'm open to PRs if anyone thinks they can get this working quickly.

[2020-08-31 17:39] TheRealNate commented on #36
After doing some more research, I think it would be a good idea to make these two separate companion packages:
- `@meteorrn/facebook-login`
- `@meteorrn/google-login'

Facebook is the low-hanging fruit as it can work completely via `Linking` or a `WebView`, whereas Google requires you to use native APIs on Android.

[2020-09-16 18:48] TheRealNate commented on #33
Hi @imhazige, could you try running the latest beta release and see if that fixes your issue?

[2020-09-17 02:21] imhazige commented on #33
Hi, @TheRealNate

same behavior.

![image](https://user-images.githubusercontent.com/4122902/93412277-70a4f900-f8cf-11ea-8192-2928b1519e8b.png)

  "dependencies": {
    "@meteorrn/core": "^2.1.0-beta1",
    "@react-native-community/async-storage": "^1.11.0",
    "@react-native-community/netinfo": "^5.9.6",
    "react": "16.13.1",
    "react-native": "0.63.2"
  },

[2020-11-07 18:47] OlivierJM opened #39 "async storage from react-native-community deprecated and moved"
The package referred was moved to another repository and namespace as well.
https://github.com/TheRealNate/meteor-react-native/blob/f2ebc8f7780c7f9821a59f0676ca4c4207b531af/package.json#L48

I suggest we point to the right package and the correct version.
ref: https://www.npmjs.com/package/@react-native-community/async-storage

[2020-11-10 22:00] OlivierJM opened #40 "documentation not clear on accessing collections"
In the API documentation it mentions about creating a collection this `const Stuff = new Mongo.Collection("stuff")` but It wasn't clear if this needs to be matched with the name on the server.

[2020-11-10 22:14] OlivierJM commented on #39
I would love to work on this, If I have a go ahead.
cc: @TheRealNate

[2020-11-27 23:43] TheRealNate commented on #39
@OlivierJM, sorry about the delayed reply. If you could add a PR for this that would be great, thanks!

[2020-11-27 23:46] TheRealNate commented on #40
Closing this since @OlivierJM's fix has been merged

[2020-11-27 23:46] #40 closed

[2020-11-28 20:27] OlivierJM commented on #39
Thanks a lot, I will start working on it.

[2020-11-29 21:27] 1seck opened #42 "@meteorrn/local offline sync"
Hi there,

no frustration here, only the question how to get a grounddb replacement for RN.
Just asking on how the offline functionality is evolving? How can the local database be used then?
Regards

[2020-12-11 04:05] TheRealNate commented on #42
Hi @1seck, sorry about the delayed reply.  There is a GroundDB-like package for MeteorRN, called [`@meteorrn/local`](https://github.com/TheRealNate/meteor-react-native/tree/master/companion-packages/meteorrn-local). It has similar features, and using it you can run your app completely offline.

[2020-12-11 04:08] #39 closed

[2020-12-11 04:22] #42 closed

[2020-12-11 04:23] TheRealNate commented on #33
Hi @imhazige, I'm going to correct the require cycle for the `2.1.0` release. Hopefully this should correct your issue. I will keep you posted.

[2020-12-11 20:40] TheRealNate commented on #33
Hi @imhazige, the `2.1.0` release candidate has been published, and it eliminates the require cycle. If you'd like, you can try it now with `npm install --save @meteorrn/core@2.1.0-rc1`

[2020-12-11 20:49] TheRealNate opened #45 "Remove dependency on batched updates native feature"
In [`src/Data.js`](https://github.com/TheRealNate/meteor-react-native/blob/8f3e040b986c4402f808ec51466d36967fa70f0f/src/Data.js#L9), the batched updates feature is being used from ReactNative's shims. This dependency needs to be removed to make the package work without native (e.g. for `react-native-web`)

[2020-12-12 03:00] imhazige commented on #33
Hi @TheRealNate,

The warning disappear now. Well done, thank you.

About the blank screen problem, I found if I stop debug, it will show, if start debug, it will be blank again.

So I think it should not be related to this library.

Anyway the thank you for enhanced it. Cheers!

[2020-12-12 03:01] #33 closed

[2020-12-17 11:05] j-khong opened #46 "Typescript Types .d.ts file"
following this PR https://github.com/TheRealNate/meteor-react-native/issues/13

i've just made a quick meteorrn-core.d.ts file in order to remove all the red in my vscode window

feel free to correct/update it

[code]

[2020-12-17 20:27] firrae commented on #36
This remains the main blocker for me to adopt React Native with my projects. If I ever get free time I'd look into helping build it out, but until then I'm willing to jig up something simple to test against if someone else works on it.

[2020-12-18 01:18] TheRealNate commented on #46
Hey @j-khong, this is really helpful! Would you like to open a PR to make sure you get properly credited?

[2020-12-18 01:39] #29 closed

[2020-12-18 01:53] TheRealNate commented on #3
This has been fixed in `2.1.0`

[2020-12-18 01:53] #3 closed

[2020-12-18 01:54] TheRealNate commented on #4
This has been fixed in `2.1.0`

[2020-12-18 01:54] #4 closed

[2020-12-18 20:03] da314pc commented on #45
I'll start looking into, I've been trying to make the package work with react-native-web

[2020-12-18 20:53] da314pc commented on #45
@TheRealNate Solution I came up with,

use react-dom as a peer dependency,

Were going to have seperate imports based on if this project is web or native,

But I just forked the lib,

changed:
import {unstable_batchedUpdates} from "react-dom"

db.batchedUpdates = unstable_batchedUpdates;

There will be a webpack config issue, for Accounts.

I just used the old version of this project based on
http

[2020-12-19 20:30] j-khong commented on #46
see https://github.com/TheRealNate/meteor-react-native/pull/47

[2020-12-19 20:30] #46 closed

[2020-12-21 01:02] TheRealNate commented on #13
Completed with PR #47. Will be released in `2.1.1` soon.

[2020-12-22 21:43] TheRealNate commented on #13
2.1.1 has been released. Closing this issue.

[2020-12-22 21:43] #13 closed

[2021-01-04 09:37] midhunevolvier opened #49 "Method call is not working after resuming from the background"
**Describe the bug**

 Unable to do a method call after resuming from the background after 10-15 mins.
 Meteor connection status(_meteor.status()=true_) is true. But no responsce from server. Can anyone help me?

**To Reproduce**

Steps to reproduce the behavior:
1. Open the app
2. Minimize the app
3. Open the app after 10-15 mins

**Expected behavior**

Should be able to call the methods and get

[2021-01-05 00:02] TheRealNate commented on #49
Hi @midhunchandran97,

Could you check the following:
- Are the data from your publications continuing to appear?
- Is `Meteor.user()` defined?
- Is the socket connected (you can access the Socket via `Meteor.ddp.socket`)

[2021-01-05 10:46] midhunchandran97 commented on #49
Hi @TheRealNate,

Thanks for the quick response, We have checked all three items, all are working fine.
We are calling a method call just after resuming the app. There was no response from the server. After sometime DDP connected and working fine except for the first method call. No response to the first method call.

What could be the problem?

[2021-01-06 04:32] TheRealNate commented on #49
I'm wondering if this could be the issue:
https://github.com/TheRealNate/meteor-react-native/blob/85924c2e32793198c4d5d1601ff726f187460ec3/lib/queue.js#L21-L25

Basically, the way the methods queue was designed, if the socket is connected the method is called and the next one is processed. But from what I can tell, if the socket was disconnected when `Meteor.call` was called, it does not retry it.

[2021-01-11 04:55] TheRealNate commented on #49
Hey @midhunchandran97, any updates on this?

[2021-01-11 20:30] TheRealNate opened #52 "Accounts.onLogin not called if user is already logged in"
If the user is already logged in, the Accounts.onLogin callback is never executed.

The callback should be immediately executed if the user is already logged in.

[2021-01-12 22:13] schlaegerz opened #54 "withTracker no longer handles returned params being updated"
**Describe the bug**

With tracker no longer updates values passed in if you return it from the withTracker:
I have a
[code]

ListContainer never sees the myList change even though I can see withTracker being called again and having an updated value.

It was perfectly fine in 2.0.15 but not in the latest.

This is a break from the web package, as for me this is in a shared component and it only br

[2021-01-13 00:36] TheRealNate commented on #54
Hi @schlaegerz, you're saying that you can see withTracker is recomputing and changing the myList value (via a console.log, etc), but the ListContainer never gets the updated value? Do you have any `shouldComponentUpdate` blocks in your ListContainer component? Could you also post the contents of `doStuffToList` if possible?

[2021-01-13 00:53] schlaegerz commented on #54
Ok doStuffToList was just an example passing the list directly has the same issue.

So the problem is if list changes. withTracker is called again, but it doesn't re-render the component.

So if the parent component changes list from [] to ['a', 'b', 'c']

withTracker gets called with
params.list equal to ['a', 'b', 'c']

but the child component never gets the update to rerender with ['a', 'b', 'c

[2021-01-13 03:35] TheRealNate commented on #54
Hi @schlaegerz,

Could you try adding a console log of `params.list` inside your withTracker function, that should tell you if withTracker is receiving the updates.

Could you also try adding a `componentDidUpdate()` to your `ListContainer` component to see if the props are being received there?

Thanks!

[2021-01-13 05:18] midhunchandran97 commented on #49
@TheRealNate ,

Sorry for the late reply, I have tried all steps as you told me. But there is no response from the first method call after resuming the app from a minimized state. After a successful DDP connection, I called a method and I got a response. But no response for the first method call even after the successful DDP connection.
Whats next ? :(

[2021-01-13 16:44] schlaegerz commented on #54
That's exactly what I had done to see that this was a bug.

withTracker was getting called but componentDidUpdate() never did.

[2021-01-13 21:27] TheRealNate commented on #54
Hi @schlaegerz,

Could you try using the latest beta version `npm install --save @meteorrn/core@2.1.2-beta1`? It includes an update to the whole Tracker framework (as our previous dependency hand't been updated in 5 years)

[2021-01-13 22:25] schlaegerz commented on #54
I get
 No matching version found for @meteorrn/core@2.1.2-beta1

[2021-01-14 00:12] schlaegerz commented on #54
Got the package but now I'm getting
 Unable to resolve module `react-dom` from `node_modules/@meteorrn/core/src/Data.js`: react-dom could not be found within the project or in these directories:

[2021-01-17 08:22] reactnewb opened #56 "Failed to compile."
**Describe the bug**
I'm following this guide `https://guide.meteor.com/react-native.html`. But when I use `@meteorrn/core` package as below.
[code]
I receive the following error.
[code]
And when I don't use this package this error goes away.

List of dependency from `package.json` file
[code]

**To Reproduce**
Steps to reproduce the behavior:
1.  `expo init ex-items-app`
2.  `npm install --save @

[2021-01-18 04:59] midhunchandran97 commented on #49
@TheRealNate , Any updates?

[2021-01-21 23:31] TheRealNate commented on #56
Hi @reactnewb,

Sorry for the delayed reply. For some reason GitHub didn't send me an alert about your issue.

Are you using React Native web? Is it possible your issue is related to [this one](https://github.com/expo/web-examples/issues/73)?

Thanks!

[2021-01-26 12:55] reactnewb commented on #56
Hi @TheRealNate,

Thank you for the response.
Yes, I'm using React Native Web. And it seems like the issue that you mention is very similar to what I'm experiencing.

I'll try solutions mention on that issue and report back. Mean while would it be a good idea to keep this issue open?

Thanks.

[2021-01-26 23:35] TheRealNate commented on #56
Hey @reactnewb, yes, let's leave it open. Please keep me posted if these solutions help you or not. I've never used react-native-web myself, but I'm happy to help you with anything on the meteor-react-native side.

[2021-01-28 18:58] reactnewb commented on #56
Hi @TheRealNate, I tried solutions mentioned in that thread and none of it worked for me. I'm new to react eco-system not sure how to debug this.

Thanks.

[2021-01-28 19:01] TheRealNate commented on #56
Hey @reactnewb,

What is the command you are using to run react native web? Have you tried running with this `EXPO_DEBUG=true expo build:web` and seeing if you are getting any more info?

Thanks

[2021-01-28 19:19] reactnewb commented on #56
I was using `expo start`. which opens a **Metro bundler** in the browser.
From there I'm selecting `run in the web browser` option from left sidebar.

And output of `EXPO_DEBUG=true expo build:web` is as below.
[code]

My best guess is there is something missing from the `react-native` project in itself. Because there are only `Platform.android.js` and `Platform.ios.js` files are present in `node_

[2021-01-28 20:26] reactnewb commented on #56
I think Expo web is not yet for me. So I'm closing this issue.

Thanks.

[2021-01-28 20:26] #56 closed

[2021-01-30 04:49] TheRealNate commented on #54
Hey @schlaegerz, sorry about that. Could you try `@meteorrn/core@2.1.2-rc1`?

[2021-02-01 10:15] midhunchandran97 commented on #49
@FaridSafi @spencercarli @sandeepjain @TheRealNate Can anyone help me?

[2021-02-01 20:51] TheRealNate commented on #49
Hey @midhunchandran97. Sorry about the delayed reply, notifications seem to be running a little weird lately.

Could you try wrapping your method call in `waitDdpConnected`? E.g.:
[code]

[2021-02-02 00:48] schlaegerz commented on #54
Still happening on that build
For maybe a reproducible version this is what I have

 withTracker(params=>{

    console.warn("LIST!", params.ListData)
    lastRet = {
      List: params.ListData,
      status: Meteor.status(),
      user: Meteor.user(),
  }
    return lastRet
}) (ListContainer)

componentDidUpdate(prevProps:Props){
    if(this.props.List && this.props.List.length)
    {
      cons

[2021-02-02 08:28] midhunchandran97 commented on #49
Hi @TheRealNate, this didn't work for me.

the meteor connection status is 'connected' while resuming the app. So I think Meteor.waitDdpConnected() has no use here.

Can we have any time out for a method call?
Waiting for your reply. Thanks

[2021-02-03 00:12] TheRealNate commented on #49
Hey @midhunchandran97,

For a method call timeout I could add a add-on package (we try not to deviate from the meteor web spec on the core package), but I'd like to see if I can fix your issue.

So from what I understand, after reconnecting you've tried this:
[code]

Is that right?

[2021-02-03 00:20] TheRealNate commented on #49
Sorry for the double replies. I've noticed that the current ddp implementation doesn't handle websocket errors. Could you try doing this:
[code]
And see if it is logging any errors

[2021-02-03 00:25] TheRealNate commented on #54
Hi @schlaegerz,

Thank you for the reproduction. While I am investigating this further, could you see if this issue occurs when you use `useTracker`?

Thanks!

[2021-02-09 06:26] midhunchandran97 commented on #49
Yes, but there is a change

[2021-02-09 19:44] TheRealNate commented on #49
Hey @midhunchandran97,

I see you marked this issue as closed. Were you able to fix this issue?

Thanks

[2021-02-11 10:29] midhunchandran97 commented on #49
Hi @TheRealNate,

Sorry,  I accidentally closed the issue

[2021-02-11 17:42] TheRealNate commented on #49
@midhunchandran97 I see, no problem.

Were you able to try this:
[code]

[2021-02-12 13:55] midhunchandran97 commented on #49
I have tried this, but nothing is consoled.

[2021-02-20 07:24] TheRealNate commented on #49
Hey @midhunchandran97,

Sorry for the delayed reply. I think there may be a flaw in the way the package is handling reconnecting. I'm going to do some more digging into it.

Meanwhile, could you try looking at:
[code]

At the exact moment of your first method call. In fact if you can get a log of the whole `Meteor.getData().ddp` object and post it that would be helpful.

Thanks

[2021-02-24 06:02] iok97531 commented on #54
Hi @TheRealNate
I had same issue in 2.0.13, 2.1.0 but 2.0.15 works fine. I hope this information can help you

[2021-02-24 17:29] TheRealNate commented on #54
Hi @iok97531 and @schlaegerz.

I was finally able to reproduce and confirm this issue. I have a temporary solution, which is using useTracker. Keep in mind that useTracker requires you to specify non-reactive deps (e.g. properties). For example:
[code]

If you don't want to explicitly declare all dependencies, you can try this "new" withTracker, but there may be serious performance impacts. I have

[2021-02-25 23:44] TheRealNate commented on #54
Hi @iok97531 and @schlaegerz,

I've started publishing very experimental builds under a new tag. Could you try installing the following version:
[code]

This release basically includes the changes mentioned above. Please note: there is the possibility of significant performance impacts, especially if you're passing a lot of props to the withTracker.

[2021-03-02 11:29] iok97531 commented on #54
Hi @TheRealNate
I installed with command
[code]
but I got this error
[code]

And there is only node_modules folder in @meteorrn/core/
[code]

I think I need another folders like src or lib

[2021-03-03 06:09] midhunchandran97 commented on #49
Hi @TheRealNate

Sorry for the delayed reply. I have checked the code

1. Result of 'Meteor.getData().ddp.status' is "connected"
2. Log of 'Meteor.getData().ddp' is attached below.

<img width="1041" alt="Screenshot 2021-03-03 at 11 18 17 AM" src="https://user-images.githubusercontent.com/76942076/109760097-26f96200-7c14-11eb-9ddf-bfc3db188cf6.png">

[2021-03-03 06:19] TheRealNate commented on #54
Hi @iok97531,

The command needs to be run from your root directory (where you'd run npm install when installing a new package). Sorry if that wasn't clear.

[2021-03-03 06:23] TheRealNate commented on #49
Hey @midhunchandran97, is this right before or right after running Meteor.call.

It looks like the socket is definitely open. Could you check on the server if the first method call reached the server or not? It's possible that the first method call is reaching the server but the response isn't making it back. This could help us narrow down the issue.

Also, are you using localhost? It should work,

[2021-03-04 04:52] midhunchandran97 commented on #49
Hi @TheRealNate

1. The result is right after running the first Meteor.call.
2. The first method call never reached the server. I have checked it with a console. nothing shows up.
3. We are facing the same issue in localhost and in the production server

[2021-03-09 08:39] iok97531 commented on #54
Hi @TheRealNate

I could not start app

I think Meteor dose not  have _noYieldsAllowed function

See line number 97 in Tracker.js

[2021-03-11 00:08] TheRealNate commented on #49
Hi @midhunchandran97, sorry about the delay in replying.

Is the method call being triggered by an automatic process as soon as the app returns from background, or is it triggered by a button press a little bit after (is there enough time for the connection to be reestablished).

Could you also try seeing if the socket is opening and closing:

[code]

[2021-03-11 04:51] midhunchandran97 commented on #49
Hi @TheRealNate ,

- Method call is triggered by a button press.
- When resuming application from minimized state
             1. 'Meteor.getData().ddp.socket.addListener("close", () => console.log("close"))' is triggered first.
             2. After a bit of time 'Meteor.getData().ddp.socket.addListener("open", () => console.log("open"))' is triggered.

[2021-03-11 20:36] TheRealNate commented on #49
Hi @midhunchandran97,

Thanks for the info. I think we're getting closer to a fix. Could you try running your Meteor call after "open" is called?

[2021-03-12 05:28] midhunchandran97 commented on #49
Hi @TheRealNate

I tried running the Meteor call after "open" is called, Meteor call worked successfully.

[2021-03-12 05:32] TheRealNate commented on #49
Great!

For a fix, looks like all that needs to be done is:
- When socket is closed, wait for reopen before trying to send calls

I'll start on a fix for this. I'll keep this issue open till it is released.

[2021-03-12 05:45] TheRealNate commented on #49
Updates:

So it looks like when the socket is closed, all pending messages are dropped. This could be the root cause of your issue (the method was coming in before the close event was fired), however before I change this I want to check the Meteor spec and see how Meteor handles ddp connection drops. I believe if you start a meteor call while the connection is offline, it will execute once connect

[2021-03-19 21:28] TheRealNate commented on #54
Hey @iok97531, sorry for the delay.

First: Please use this new install script so it will install directly from Git `npm install --save git://github.com/TheRealNate/meteor-react-native.git#bleeding-edge`

Second: I think that this new release may not solve your issue. There may be a deeper flaw with the way withTracker handles props, it may need a deeper redesign. However, one thing I have noticed

[2021-03-23 12:18] midhunevolvier commented on #49
@TheRealNate Sorry for the delayed reply,

- When I made a normal method call,

  isOpen = true;
  onOpen.forEach(f => f());
})** executed

- I made a method call just after resuming the app from minimized state.

Meteor.getData().ddp.socket.addListener("close", () => {
  isOpen = false;
});

This solution is not worked for me.

[2021-03-29 19:04] ToyboxZach opened #58 "On resume User is temporarily null after loggingIn is set to false"
When reconnecting to the server the order of events is

Meteor.status().connected == true
Meteor.loggingIn() == true
Meteor.loggingIn() == false
Meteor.user() gets set

When I would expect

Meteor.status().connected == true
Meteor.loggingIn() == true
Meteor.user() gets set
Meteor.loggingIn() == false

This inconsistency makes it hard to get the loading states to look right since there is a time th

[2021-03-31 06:47] rajtejani opened #59 "Mongo.ObjectID"
**Is your feature request related to a problem? Please describe.**
Missing Mongo.ObjectID function.

[2021-04-02 01:51] TheRealNate commented on #49
Hey @midhunevolvier, so you're saying the close event is firing a short time after the app resumes, but not immediately; which is causing your call which executes immediately to run before the close event is fired. Is that right?

[2021-04-02 01:54] TheRealNate commented on #58
Hey @ToyboxZach. Thanks for submitting this bug. I've looked at the login flow and confirmed that the issue exists. I will try and get a fix out soon.

[2021-04-02 01:55] TheRealNate commented on #59
Hey @rajtejani, just so I understand what you are looking for, is this what you are referring to:

https://github.com/meteor/meteor/blob/46e00a875726dff078c59eaf7fdc7b956cf0a996/packages/mongo-id/id.js#L8

Thanks

[2021-04-02 07:46] midhunevolvier commented on #49
Yes

[2021-04-03 04:59] rajtejani commented on #59
Yes, @TheRealNate. How can I use that in react native?

[2021-04-08 04:25] midhunevolvier commented on #49
@TheRealNate Is there any solution? We are stuck.

[2021-04-08 04:44] TheRealNate commented on #49
Hi @midhunevolvier,

I'm looking into a built in solution for this package, but for now a quick fix for you may be to use the [AppState](https://facebook.github.io/react-native/docs/appstate.html) API to detect a resume from background and wait before sending the call.

[2021-04-08 04:51] midhunevolvier commented on #49
@TheRealNate
Ok. But how can I understand whether the Meteor is connected or not? Then only I can wait before sending the call.

[2021-04-09 21:49] TheRealNate commented on #59
Hey @rajtejani,

I'm very sort for the late reply, something is messed up with my GitHub notifications.

What you're looking for will require an update to the codebase as the module is currently not public. I'll look at an update for this, but if you want a quick fix I'd recommend copying the code from the link I sent before. It only depends on `ejson` which can be installed via NPM and a Random h

[2021-04-13 05:42] rajtejani opened #60 "Getting error while using useTracker hook"
**Describe the bug**
I have installed 2.1.0 and tried to use **useTracker** hook but it gives me an error that _core.useTracker is not a. function. I am trying to use this hook inside the function component.

**Screenshots**
![simulator_screenshot_11FD8C81-CF09-4EBE-A02B-F78544CD66F6](https://user-images.githubusercontent.com/49932204/114502189-02e46400-9c49-11eb-9b5b-c33bf750478f.png)

**Device (

[2021-04-13 17:18] TheRealNate commented on #60
Hi @rajtejani, how are you defining the `useTracker` variable? useTracker is a property of Meteor, so needs to be used like this:

[code]

or this:

[code]

Are you using the second option?

[2021-04-14 09:02] rajtejani commented on #60
Thanks @TheRealNate . I was actually importing like this 😅
`import {useTracker} from '@meteorrn/core'.`

Your both way is working fine.
Thanks for the help again.

[2021-04-14 09:02] #60 closed

[2021-04-14 09:08] rajtejani commented on #54
Yes @TheRealNate  using useTracker in place of withTracker is a better option for this situation. I was having the same problem where the component passed to withTracker function doesn't get updated results but replacing it with useTracker fix my problem.

[2021-04-14 17:04] TheRealNate commented on #54
Hi @rajtejani and @iok97531, could you confirm that utilizing useTraker fixed the issue? I've been looking at the meteor spec and it seems that Meteor's withTracker re-exectues on any props change. I think our withTracker can be modeled similarly.

[2021-04-14 17:09] TheRealNate commented on #49
Hey @midhunevolvier, sorry again for the delayed reply. I don't know why GitHub doesn't seem to be sending me notifications for this issue.

Could you try directly reading the socket object's status (`Meteor.getData().ddp.socket`) and let me know if the socket displays as closed upon resume (even if Meteor's connection status hasn't been updated)? If not, I'll need to see why react native has a de

[2021-04-16 03:17] rajtejani commented on #54
Yes utilizing useTracker fixed the issue.

[2021-04-17 06:07] midhunevolvier commented on #49
@TheRealNate I have checked the status after resuming the application and attaching the screenshots for your reference.

1. Result of 'Meteor.getData().ddp'
<img width="938" alt="Screenshot 2021-04-17 at 11 29 44 AM" src="https://user-images.githubusercontent.com/76942076/115103643-13f6e300-9f71-11eb-9500-2ddfc0a1b29d.png">

2. Result of 'Meteor.getData().ddp.socket
<img width="887" alt="Screensho

[2021-04-17 19:19] TheRealNate commented on #49
Hi @midhunevolvier,

Could you try `Meteor.getData().ddp.socket.rawSocket` as this should be the socket implementation at the React Native level? If you're not seeing any change here then we may have to look at other options for a fix.

Thanks!

[2021-04-19 06:37] midhunevolvier commented on #49
@TheRealNate I have checked 'Meteor.getData().ddp.socket.rawSocket', I can't find any differences.I think the same issue will be there even if we keep the application idle for some time without minimizing it.

1. Result of 'Meteor.getData().ddp.socket.rawSocket' (NORMAL)

<img width="602" alt="Screenshot 2021-04-19 at 11 49 47 AM" src="https://user-images.githubusercontent.com/76942076/115191536-2

[2021-04-23 05:52] midhunevolvier commented on #49
@TheRealNate Is there any solution? We are stuck.

[2021-04-23 14:34] copleykj commented on #49
@midhunevolvier do you possibly have a minimal reproduction that shows this issue that I could clone and explore the issue?

[2021-04-28 05:47] midhunevolvier commented on #49
@copleykj Sorry for the delayed reply. I am busy with my project release. I will upload a sample project as soon as possible.

[2021-04-30 03:48] copleykj commented on #49
@midhunevolvier no apology necessary. Delays are in the nature of our work. When ever you get around to it just let me know and I'll see about digging into this. If I'm not responsive here, feel free to get in touch on the [Meteor Community Slack](https://tinyurl.com/mcg-slack).

[2021-05-04 19:23] schlaegerz commented on #54
Hmm yeah sorry I wasn't replying,
useTracker does fix the issue, but I have a decent sized code based that is implemented with withTracker and its a code base shared with web so switching them all to useTracker doesn't seem like the right move for my code base.

Is this something that you would expect to be fixed in the near future (even just going back to the 2.0.15 implementation) or should I be

[2021-05-05 02:17] TheRealNate commented on #54
@schlaegerz does 2.0.15 solve the issue for you? If so I can absolutely revert withTracker to that version.

[2021-05-05 02:37] schlaegerz commented on #54
Yep 2.0.15 works just fine, and matches with the normal meteor implementation

[2021-05-28 06:18] NazrinM opened #62 "useTracker"
useTracker doesn't work in latest version (v.2.1.0)

[2021-05-28 06:26] #62 closed

[2021-06-07 22:46] TheRealNate opened #65 "Failure to call Meteor.Connect throws a ambiguous error"
Failure to call Meteor.Connect throws a ambiguous error (this.ddp.on is not a function)

[2021-06-08 00:07] #52 closed

[2021-06-08 00:26] TheRealNate commented on #54
Hey @schlaegerz,

Version 2.2.0 has been released, and it contains a fix that I believe should solve your issue.

Could you try it? You can use npm update or `npm install --save @meteorrn/core@2.2.0`

Thanks!

[2021-06-12 04:46] TheRealNate commented on #54
Hey @rajtejani,

Since you were also experiencing this issue: version 2.2.0 has been released and it should fix the issue with withTracker. Could you try it out?

Thanks!

[2021-06-14 16:01] schlaegerz commented on #54
Yeah that was my change that was pulled in, This issue is fixed

[2021-06-14 16:01] #54 closed

[2021-07-12 16:37] odesey opened #68 "Subscribe to user account without component"
Is it possible to load a user account and subscribe to user account data without using `useTracker` and a component?

Similar to https://github.com/gregivy/simpleddp

I have a react-native app, and before the app is loaded I need to see if the user is logged in and then load the appropriate UI.

How can I do this using the `meteor-react-native` package?

Thanks.

[2021-07-13 22:08] TheRealNate commented on #68
Hi @odesey,

If you're looking for a callback, you can use this:
[code]

If you just want to check login as soon as the app loads, you won't be able to. The user is not considered `logged in` until they've sent their token to the server and gotten back confirmation from the server. However, what I can recommend is storing a flag using something like AsyncStorage.

[code]

Does this answer your que

[2021-07-14 02:12] odesey commented on #68
I think that your suggestion will solve 1/2 of my question (thanks).

The second part is, can I subscribe to a publication (in this case the user account data) without using `useTracker` and a component?

Currently, I am using the `simple-ddp` package and I subscribe to my user's data in my init function if they are logged in like so:

[code]

Lastly, how can I handle not being able to connect to

[2021-07-14 03:15] TheRealNate commented on #68
Hey @odesey,

Absolutely. The reason you'd usually do your subscriptions in a `useTracker` or `withTracker` is because it will automatically stop the subscription if the component gets unmounted. But you don't have to: you can subscribe anywhere you want. And if you store the handle you can always call .stop();

Our spec works exactly like the Meteor spec. All of the available methods do not requi

[2021-07-14 03:16] #68 closed

[2021-07-16 23:20] TheRealNate opened #70 "Export Meteor._loginWithToken as Meteor.loginWithToken"

[2021-08-12 21:08] johnwils opened #71 "Usage on web"
**Describe the bug**
This error shows up when in a plain React web project:

[code]
The [Using on Web](https://github.com/TheRealNate/meteor-react-native#using-on-web) doc section say all that is needed is AsyncStorage setup, which it is.

Wondering does react-native have to be installed for this to work? In `src/Data.js`  React Native node_modules are  required, which I think is where this error

[2021-08-12 23:31] TheRealNate commented on #71
Hey @johnwils,

You may be right that it may require installation of the `react-native` package. This is mainly to access the batchedUpdates feature.

Would it be possible for you to try installing the react-native package? Alternatively, if you're willing to try forking the package, I believe `react-dom` also exposes an unstable_batchedUpdates api.

Thanks!

[2021-08-13 16:41] TheRealNate opened #72 "Warning displayed on nosub is unclear, needs updating and to become an error instead of warn"

[2021-08-18 11:07] andy-clapham commented on #56
Closed issue I know, but seems to be resolved for me by adding a webpack.config.js to locate the relative reference to Utilities/Platform used from within various rn libraries:

[code]

[2021-08-21 03:03] diavrank commented on #36
Hi @TheRealNate, I was working on it these last days and I have already got the OAuth functions (both) working well. So, I was wondering if I have to publish the companion packages into my account of NPM, or do you need to give me access to your organization of @meteorn to publish them?

It is worth mentioning that for Facebook, it needs to install a meteor package on the server-side to make it wo

[2021-08-22 18:57] TheRealNate commented on #36
Hey @diavrank, thank you for your work in advancing this feature! I've gone ahead and created https://github.com/meteorrn/oauth-facebook and https://github.com/meteorrn/oauth-google and given you access. Once the code is loaded in I'll setup a CI/CD to publish them under the @meteorrn npm organization

[2021-08-22 19:30] diavrank commented on #36
Thank you, I'll be updating it this week.

[2021-08-23 04:31] rajtejani opened #73 "Subscription on mobile are not stable as Web"
**Describe the bug**
I am facing issues where subscription made in mobile devices with this package is not stable as compared to Web. I made console.log to mobile and web and when checked all logs, I found out that on the web, the subscription doesn't change its status between "ready" and "not ready" wherein mobile it toggles status between "ready" and "not ready" continuously.

**Screenshots**
If

[2021-08-25 02:02] TheRealNate commented on #73
Hi @rajtejani,

To help figure out the issue could you answer the following:

1. Are you using this in a mobile app or on `react-native-web` or something similar?
2. Could you please provide an example of how you're subscribing with as much context as possible?

Thanks!

[2021-09-22 14:36] da314pc opened #75 "Subscriptions Block UI thread"
I was have been using the old repo before migrating to yours. This is an important issue worth reviewing

https://github.com/inProgress-team/react-native-meteor/issues/301

The main benefit of this library is subscriptions. For large list or complex components, subscriptions can cause weird rendering problems.

Some content can be partially rendered.

I've tried the InteractionManage, not very hel

[2021-10-08 17:58] Akashdeep312 opened #76 "TypeError: null is not an object (evaluating 'this.ddp.on')"
migrating from react-native-meteor-upgraded to meteorrn/core
Due to white screen issue on ios platform with react-native-meteor-upgraded package , trying to migrate to meteorrn/core
but getting following issue
 React Native and MeteorRN versions:
[code]

getting the following error

![simulator_screenshot_CEE6FEF7-BE20-4366-8D80-7800B0DC645F](https://user-images.githubusercontent.com/48234644/1366

[2021-10-18 06:09] Akashdeep312 opened #77 "Network is disconnects often while using the app and white screen is displayed without any error"
Steps to reproduce :
1. Run your app.
2. While app is working suddenly a white screen appears.

 React Native and MeteorRN versions:
[code]

in the console i got some logs like
[code]

[2021-11-11 09:17] Akashdeep312 commented on #76
hi @TheRealNate  thanks it's started working as i called meteor.connect in index thanks

[2021-11-11 09:17] #76 closed

[2021-11-11 09:25] Akashdeep312 opened #78 "handle.ready() is always false"
hi i've just upgraded to the meteorrn from react-native-meteor-upgraded and since then on a specific  screen handle.ready() is always returns false.

I am getting messaging threads from server with the following code and after some time i get the results and handle.ready() returns me true and just after that it's starts return false continuously

[code]

packages are as follows

[code]

[2021-11-16 12:58] Akashdeep312 commented on #78
hey thanks for looking into it, turns out it was occurring due to backend error

[2021-11-16 12:58] #78 closed

[2021-11-17 04:29] Akashdeep312 commented on #77
HI @TheRealNate i've recently switched to @meteorrn/core and to some extent it solves the problem now app is not stuck on white screen , But now white screen appears only for 1 sec and then user is navigated to home screen. It appears like the app when app is disconnected and reconnects with the server then app  goes to home screen

React Native and meterorn/core versions:
[code]

And now i'm not

[2021-11-24 04:52] TheRealNate commented on #77
Hi @Akashdeep312, sorry for not getting back to you sooner. For future reference, I recommend reopening the issue if you need to continue the conversation as it can get it attention quicker.

The app can disconnect and reconnect if the websocket connection fails. For example, depending on device if the user has the app in the background for a while the websocket connection will be closed, then whe

[2021-12-02 12:14] sujaykumardas16111993 opened #79 "Application getting redirected to home screen(User dashboard, Initial landing page)"
We have our application built using react native(version 0.63) and meteor(version 2.5). for connection we are using @meteorrn/core.

But these are the issues that we have been facing very frequently:

1. When we go to a particular app flow through navigation all of a sudden we are redirected back to our home screen(initial screen after a small glitch: perhaps disconnection and reconnection)
2. Ins

[2021-12-03 04:34] Akashdeep312 commented on #77
hi @TheRealNate i've come across a behaviour of meteor connection , so what happens is when i put app in background and start working on other app after a while when i came back to my app the Meteor.user() returns undefined , so tackle this  for the time being i've just handled it like making it a state variable and made a use effect once it changes its state and updates it's value if it's not und

[2021-12-20 11:06] nwabdou85 opened #80 "Is it possible to serve a variable as Meteor.connect(VARIABLE_URL) value ?"
Hi,

To fix a problem of performance, I plan to implemente the load balancing and auto scalling options of AWS;

How to serve SERVER_URL as variable depending of the server available to the user ?

Ps: ans how decide which  server should use (SO which SERVER_URL);

Thank's for your help;

[2021-12-20 16:26] TheRealNate commented on #80
Hi @nwabdou85,

Yes, it is possible to use a variable when calling `Meteor.connect`. The only thing you’ll need to keep in mind is that if you call any `Meteor.*` APIs before calling `Meteor.connect` the app will likely crash. This means you’ll need to prevent rendering of your app until you’ve determined the URL and called `Meteor.connect`, and you also need to make sure that you don’t use any `M

[2021-12-20 16:28] TheRealNate commented on #79
Hi @sujaykumardas16111993, sounds like these issues are not all related to the `@meteorrn/core` package (this package has nothing to do with navigation). For your second issue where the publication gets called multiple times could your provide the code or a reproduction?

[2021-12-20 16:30] TheRealNate commented on #77
Hi @Akashdeep312, this is expected behavior. This package provides no data persistence, so if the connection to the server is lost we assume the data is stale and clear it. Keeping the data in state (for temporary persistence) or local storage (for semi-permanent persistence) is likely the best way to handle this.

[2021-12-20 16:30] TheRealNate commented on #73
Closing this issue due to no response - feel free to reopen

[2021-12-20 16:30] #73 closed

[2021-12-21 13:30] nwabdou85 commented on #80
Thank @TheRealNate
in this case, how can I return the url from load balancer ?

[2022-01-11 20:25] jankapunkt opened #81 "Fork minimongo-cache"
**Is your feature request related to a problem? Please describe.**

The `minimongo-cache` package is not maintained since ages and also the reason for my audit nagging about critical vlnbl regarding. Since it is not maintained since 5 years and even an issue from 2019 regarding high vulnbl is not resolved I think it should be forked.

**Describe the solution you'd like**

Fork the minimongo packag

[2022-01-11 21:36] jankapunkt opened #82 "how to connect to localhost Meteor app"
I am using expo and I am trying to connect to a Meteor app on localhost in dev mode (`expo start`; bundle is pushed to my real android phone, no emulator)

[code]

which produces the following output:

[code]

Dependencies:

[code]

Is this expected; did I do something wrong here?

[2022-01-14 07:40] TheRealNate commented on #81
Hey @jankapunkt,

Sorry for the delay in replying. I agree that forking and maintaing a copy of `minimongo-cache` is the best way to do it. Would you be interested in taking this on? If so I'll fork the package to https://github.com/meteorrn/minimongo and setup `@meteorrn/minimongo` on NPM and give you collaborator status on the GitHub repo.

[2022-01-14 07:46] TheRealNate commented on #82
Hey @jankapunkt, if you're pushing the bundle to a physical device localhost will not be accessible as localhost is only available on the same device the Meteor app is being run from. Your best bet is to locate the LAN IP address (https://en.wikipedia.org/wiki/Private_network#Private_IPv4_addresses) for your machine running Meteor and connect to that. For example: `ws://192.168.1.123:8080/websocke

[2022-01-14 07:53] TheRealNate commented on #80
Hey @nwabdou85,

Sorry for the extremely late reply! In order to do this there are two things you need to ensure:

### First, do not call any Meteor functions in your root code (root code means code that is not contained inside a function)

Root code (bad):
[code]

Not root code (good):

[code]

### Second, you will need to ensure that no Meteor functions are called before you call `Meteor.connect

[2022-01-14 08:07] jankapunkt commented on #82
Hi thank you yes that fixed it. I would add this to the documentation as a PR so others won't jump into that trap, what do you think?

[2022-01-14 08:08] jankapunkt commented on #81
Hi thank you I would work on this definitely since our project relies on it and we won't pass the audit with its current state

[2022-01-14 08:17] TheRealNate commented on #82
@jankapunkt absolutely agree. I'll add some more details soon but for now I've added a link to this issue in the README under Basic Usage. I'll also close this issue.

[2022-01-14 08:17] #82 closed

[2022-01-14 08:27] TheRealNate commented on #81
I've forked the package to https://github.com/meteorrn/minimongo-cache. The only thing I noticed is that there appear to be three commits after the version that this package currently uses. They seem pretty small to me but let me know if you disagree. I've given you write access to the repository. I'm in the process of setting up GitHub Actions to auto-publish the package when a new release is cre

[2022-01-14 08:27] #81 closed

[2022-02-03 11:41] ma10as opened #84 "Is it possible to get the Meteor.loginToken value?"
I will like to know if they are any options to get the loginToken, so I can pass this token to the Apollo client to resolve the User in Apollo Query or Mutation?

Thank's for your help;

[2022-02-03 20:40] TheRealNate commented on #84
Hi @ma10as,

You can use this code to access the token:

[code]

Marking this question as closed. Fee free to reopen if you have any further questions.

[2022-02-03 20:40] #84 closed

[2022-02-08 08:02] jankapunkt opened #85 "Expose EJSON in export"
We should expose `EJSON` to the client, importing this package.

**Describe the solution you'd like**

Adding `EJSON` to the export in the main js file would allow clients to define custom types that are EJSON-able and store them in a local cache, as well as sending them to the server (if defined there as such as well) via DDP.

**Describe alternatives you've considered**

Using `JSON.stringify` r

[2022-02-08 19:51] TheRealNate commented on #85
@jankapunkt additional PR would be preferred for cleanliness

[2022-02-10 05:23] arianjahiri opened #86 "_sub.readyDeps.changed is not a function"
**Describe the bug**
We've been using react-native-meteor (https://github.com/inProgress-team/react-native-meteor) until now and wanted to get the Tracker hook so have decided to move to this package, as I understand a lot of the package is similar to the previous one but with many improvements. After switching packages I am getting these errors and cannot seem to understand why the Dependency cla

[2022-02-15 02:56] arianjahiri commented on #86
Hi @TheRealNate, thanks for the reply, this was a problem on our end. The way we were using the Tracker directly was not supported by this version.

[2022-02-15 02:56] #86 closed

[2022-02-16 08:57] jankapunkt commented on #49
I will tackle this, once the PR #83 is merged, which is close to completion (currently User, Accounts and Meteor files remain to be tested).

[2022-02-16 09:03] jankapunkt commented on #71
I suggest to provide a drop-in replacement for `batchedUpdates`, that can be used if `react-native` is not installed, which is also the case for tests recently (installing it would create a great mess for the tests, since we would have to add a huge transpilation chain just for two functions from `react-native`).

I currently implement it for testability like so:

[code]

See: https://github.com/j

[2022-02-21 17:04] TheRealNate commented on #71
@jankapunkt looks good to me, would need to test on web to confirm this works.

[2022-02-22 09:13] vforvasile opened #89 "How to get connectionId or lastSessionId?"
### Discussed in https://github.com/TheRealNate/meteor-react-native/discussions/88

<div type='discussions-op-text'>

<sup>Originally posted by **vforvasile** February 21, 2022</sup>
On the web side, we use **Meteor.connection._lastSessionId**.

Any idea on how to get the connectionId with this library?</div>

[2022-04-15 13:41] pisacode opened #90 "enableVerbose is not a function"
**Describe the bug**
Even though I import enableVerbose, function can't be found
**To Reproduce**
Steps to reproduce the behavior:
1. import Meteor, { withTracker, enableVerbose } from '@meteorrn/core';
2. call enableVerbose();

[2022-04-29 15:55] #26 closed

[2022-05-24 19:33] varunwyest opened #92 "Collection.update does not work on the server"
**Describe the bug**
When we use the Collection.update method it is taking a string as the ID which updates it perfectly on the local but is not able to update the server with the server with that id.

Any suggestions on how to update an object

[2022-05-27 16:11] TheRealNate commented on #92
Hi @varunwyest, could you confirm that this works in your web client code? Your server must be configured with [allow deny](https://guide.meteor.com/security.html#allow-deny) for this to work.

[2022-06-01 17:14] varunwyest commented on #92
Yes, I tested it thoroughly in the meteor app as well outside of react native the behaviour is exactly the same when we dont use the Object ID. Without the object id, just passing in the string it does not update document, but gives no error.

When using the Object ID it updates the data perfectlty. I can try to take a stab at updating this code if you are okay with it. I just dont want to fork an

[2022-06-03 19:07] ToyboxZach commented on #75
I was having the similar problems.

I ended up having to do pretty hefty changes to make sure we aren't oversubscribing and that we only get change notifications when we want. I'm not sure how much of my changes ended up being unique to my experience, but if you are still looking for a solution this is a good starting point:

https://github.com/ToyboxZach/meteor-react-native

My app got significan

[2022-06-06 04:34] sdhimanwyest commented on #92
+1

[2022-06-07 15:56] TheRealNate commented on #75
@ToyboxZach, would you be open to possibly merging your changes into this repo?

[2022-06-07 16:24] ToyboxZach commented on #75
I don't have the time to thoroughly validate it across all use cases or maintain it outside of times my product has a bug, but I can definitely open up a PR

[2022-06-07 16:35] ToyboxZach commented on #75
Also do you have resources explaining how to run the tests? "npx mocha" doesn't seem to work for me like I would expect

[2022-06-07 17:09] da314pc commented on #75
I think react native's new fabric architecture should solve this problem.
https://medium.com/coox-tech/deep-dive-into-react-natives-new-architecture-fb67ae615ccd

From my experience, if you have a large list with lots of nested components and you try to have subscriptions like so:

const MyAppContainer = withTracker(() => {

    const myTodoTasks = Todos.find({completed:false}).fetch();
    const

[2022-06-07 17:20] jankapunkt commented on #75
If I have an example component that shows how to reproduce these oversubscription then I can fast test/debug/provide a fix if possible

[2022-06-07 17:40] da314pc commented on #75
I'll try to get an example I had into a demo repo. This was only a problem on android If I remember correctly. But give me a couple days to get the repo back up.

[2022-06-09 19:12] da314pc commented on #75
Here is the best reproduction I could get.
https://github.com/da314pc/meteor_react_perf

One file, main.js
These are the only subs that matter:
 var handler1 = Meteor.subscribe('myuserFields')
 var handler2 = Meteor.subscribe('SubThread', subId, messageCount);
 var handler3 = Meteor.subscribe('SubThreadDescription', subId)

subthread is just a document of post, you can create a sample subscription

[2022-07-27 16:08] sanu420 opened #95 "Accounts.callLoginMethod not defined"
We needs to implement pin login feature on our meteor application, we have able to do it from meteor web application.

But from the react native app when I am calling the following function. It giving undefined error.

 import { Accounts } from '@meteorrn/core';

  Accounts.callLoginMethod({
    methodArguments: [{
      phone: phone,
      pin: pin
    }],
    userCallback: loginCallback
  });

[2022-08-30 13:55] fidelsam1992 opened #96 "useTracker function gets called again at each re-render even while setting deps as []"
**Describe the bug**

[code]

I am getting "Called" multiple times in the console at every re-render

**Expected behavior**
To be called only once

[2022-08-31 16:42] ToyboxZach commented on #96
I believe my branch fixes this issue if you want to give it a try
I did a pretty big restructuring of this package:
https://github.com/ToyboxZach/meteor-react-native

[2022-11-03 08:22] mmelk commented on #49
Any update?

[2022-11-03 13:30] jankapunkt commented on #49
@mmelk do you have a minimal code example that I can use to work on / use as test for a potential solution?

[2022-11-03 14:17] mmelk commented on #49
Yes, I have. This problem is only for iOS side.
In my case, I received notification (with `@react-native-firebase/messaging` and `react-native-push-notification`), in background, and I have 2 situations:
1. When I immediately open Notification, there is no problem with meteor call
2. When I open Notification after some time (~5 min and more), meteor call does not work. I have no response from serv

[2022-11-09 10:07] mmelk commented on #49
@jankapunkt have you any update on this?

[2022-11-09 10:13] jankapunkt commented on #49
@mmelk I have no firebase account nor do we use firebase in any of our projects so I can only test the `Meteor.waitDdpConnected` part. Is there a way I can make your issue reproducible without firebase?

[2022-11-09 10:19] mmelk commented on #49
@jankapunkt Can you test on the other notification support library? OneSignal maybe? The issue reproduced when I came from background, tapping on the notification in from the Notification Center on iOS device. I do meteor call, and in callback I navigate user to corresponding screen, but meteor call is not working, no any response, and the call not reached the server.

[2022-11-09 10:19] mmelk commented on #49
@jankapunkt Can you test on the other notification support library? OneSignal maybe? The issue reproduced when I came from background, tapping on the notification in from the Notification Center on iOS device. I do meteor call, and in callback I navigate user to corresponding screen, but meteor call is not working, no any response, and the call not reached the server.

[2022-11-09 10:21] mmelk commented on #49
Which concerns `Meteor.waitDdpConnected`, I logged `Meteor.status()` and `Meteor.ddp.status` before Meteor call. It says that Meteor is connected successfully.

[2022-11-11 05:00] jankapunkt commented on #49
@mmelk if played a few options here. First, please check your `Meteor.connect` in your code and make sure it looks similar to this one:

[code]

Then please try the following change to your `getRequestDetails`:

[code]

Now have in your server a Meteor Method named `dead-request` that simply does nothing but return `null` or something:

[code]

Here is my observation: as already mentioned in this

[2022-11-23 14:19] bratelefant commented on #96
I already commented on the PR #94
There is definitely an issue with useTracker, and @ToyboxZach 's fork solves it.

I subscribe in useTracker to a pub from meteor server, and this gets called ~15 times server side (logged every sub) for one ui view, although dep list is emtpy; this results in heavy server load and really slow response times (up to 6-7 seconds).

[2022-11-29 17:25] TheRealNate commented on #96
@bratelefant We are discussing merging #94. In the meantime, if you can cherry pick the changes from #94 that solve your problem and open a new smaller PR, happy to merge them in

[2022-11-29 17:27] TheRealNate commented on #95
This feature doesn't exist, can anyone help add?

[2022-11-29 17:57] bratelefant commented on #96
I really can't promise that I'm capable to get this done, but I can try to filter out the changes that solve my issue. Will post my results in #94.